@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.lorem {
    width: 100%;
    overflow: hidden;
    text-align: -webkit-center;

    .lorem-infos {
        width: 290px;

        h1 {
            text-align: left;
            font-size: 24px;
            font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
            font-weight: 700;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
            text-align: left;
        }

        img {
            width: 300px;
            height: 185px;
            border-radius: 4px;
            margin-top: 24px;
        }
    }
}

@media (max-width: 768px) {
    .lorem {
        width: 100%;
        overflow: hidden;
        text-align: -webkit-center;
    
        .lorem-infos {
            width: 290px;
    
            h1 {
                text-align: left;
                font-size: 24px;
                font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
                font-weight: 700;
            }
    
            p {
                font-size: 14px;
                font-weight: 400;
                font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
                text-align: left;
            }
    
            img {
                width: 300px;
                height: 185px;
                border-radius: 4px;
                margin-top: 24px;
            }
        }
    }
}