@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.notification-bar {
    background-color: #000; // Fundo preto
    text-align: center; // Centralizar texto horizontalmente
    padding: 5px 0; // Ajustar o padding para diminuir a altura
    height: 24px;
    width: 100%; // Largura total
    position: fixed; // Fixa no topo
    z-index: 2; // Z-index alto para sobrepor outros elementos
    display: flex; // Utiliza flexbox para alinhamento
    align-items: center; // Centraliza o texto verticalmente
    justify-content: center; // Centraliza o texto horizontalmente


    p {
        margin-top: 18px; // Alinha ao topo
        font-family: 'Titillium Web', Arial, monospace;
        font-weight: 400;
        font-size: 10px; // Tamanho do texto
        color: #fff; // Texto branco
        line-height: 18px;
    }
}