.partner-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
  
    // Ajuste para evitar overflow
    overflow: hidden;
  
    .slick-list {
      overflow: hidden; // Evita que o conteúdo extra cause overflow
      margin: 0; // Remove margens negativas
      padding: 0; // Remove qualquer padding que possa causar overflow
    }
  
    .slick-slide {
      padding: 0 5px; // Espaçamento interno dos slides
      box-sizing: border-box; // Inclui padding no tamanho do box
  
      // Evita que os slides ultrapassem a largura disponível
      min-width: 0;
    }
  
    .partner-list-title {
      font-weight: 700;
      font-size: 32px;
      line-height: 24.34px;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .partner {
      width: 298px; // Define a largura específica para cada item do slider
      height: 64px; // Define a altura específica para cada item do slider
      padding: 5px; // Ajuste o padding conforme necessário
  
      //Centraliza o conteúdo verticalmente e horizontalmente
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      img {
        width: auto; // Mantém a proporção original da imagem
        height: auto;
        max-width: 100%; // Limita a largura da imagem ao tamanho do contêiner
        max-height: 100%; // Limita a altura da imagem ao tamanho do contêiner
      }
    }
  }
  
  // Ajustes específicos para o layout mobile
  @media (max-width: 768px) {
    .partner-list {
      
      .partner {
        width: 298px !important; // Mantém a largura em dispositivos móveis
        height: 64px; // Mantém a altura em dispositivos móveis
        padding: 5px;
        display: flex !important;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    
        img {
          width: 308px; // Mantém a proporção original da imagem
          height: 64px;
          max-width: 100%; // Limita a largura da imagem ao tamanho do contêiner
          max-height: 100%; // Limita a altura da imagem ao tamanho do contêiner
        }
      }

      .partner-list-title {
        font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 36.5px;
        text-align: center;
        margin-bottom: 20px;
      }
      // Ajustes no slider para garantir que os itens respeitem a largura e altura definidas
      .slick-slide {
        display: flex;
        justify-content: center; // Centraliza os itens dentro do slide
      }
  
      .slick-track {
        display: flex;
        align-items: center; // Centraliza verticalmente os itens na track
      }
  
      .slick-list {
        display: flex;
        justify-content: center; // Centraliza os itens dentro da lista do slider
      }
    }
  
  }