@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.tips-list {
  display: flex;
  flex-direction: column;
  padding: 20px;

  
  overflow: hidden;

  .slick-list {
    
  }

  .slick-slide {
    padding: 0 5px; 
    box-sizing: border-box;

    
    min-width: 0;
  }

  .tips-list-title {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24.34px;
    text-align: center;
    margin-bottom: 20px;
  }

  .tips {
    width: 298px; 
    height: 64px; 
    background: #fff;
    padding: 5px; 
    box-sizing: border-box; 
    background-color: #EFEFEF;
    border-radius: 4px;

    
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    img {
      width: auto; 
      height: auto;
      max-width: 100%; 
      max-height: 100%; 
      margin-right: 10px; 
    }

    .tips-text-container {
      display: flex;
      flex-direction: column; 
      align-items: flex-start; 
      justify-content: center; 
      width: 100%; 

      .tips-description {
        margin-left: 10px;
      }
    }

    h2 {
      font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
      font-size: 14px; 
      margin: 0; 
      text-align: left; 
      width: 100%; 
    }

    p {
      font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
      font-size: 12px; 
      color: #666;
      text-align: left; 
      width: 100%; 
    }
  }
}

// Ajustes específicos para o layout mobile
@media (max-width: 768px) {
  .tips-list {

    .tips {
      width: 298px !important; 
      height: 64px; 
      padding: 5px;
      background-color: #EFEFEF;
      border-radius: 4px;
      display: flex !important;
      flex-direction: row; 
      justify-content: start;
      align-items: center;

      img {
        width: 32px; 
        height: 32px;
        max-width: 100%; 
        max-height: 100%; 
        margin-left: 26px; 
      }

      .tips-text-container {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        justify-content: center; 
        width: 100%; 
      }

      h2 {
        font-size: 14px; 
        margin: 0; 
        text-align: left; 
        width: 100%; 
      }

      p {
        font-size: 12px; 
        color: #666;
        margin: 0; 
        text-align: left; 
        width: 100%; 
      }
    }

    
    .slick-slide {
      display: flex;
      justify-content: center; 
    }

    .slick-track {
      display: flex;
      align-items: center; 
    }

    .slick-list {
      display: flex;
      justify-content: center; 
      overflow: hidden; 
      margin: 0;
      padding: 0;
    }
  }
}